.doctor-who-content img
	{
	float: left;
	margin-right: 50px;
	margin-bottom: 35px;
	}body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: #1c1c1c;
}
td {
	background-color: #a0acb9;
	text-align: left;
	vertical-align: top;
}
body table tr td {
	padding-right: 25px;
}
.doctor-who-content p {
	line-height: 30px;
}
.doctor-who-content {
	background-color: #dadee3;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 25px;
}


.wrapper {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}
